.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slide-container {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.slide {
  position: relative;
  float: left;
}

  .next {
    float: right;
  }
