#my_map {
  height: 500px;
  width: 500px;
}

.smallTitles {
  font-weight: bold;
}

.mediumTitles {
  font-weight: bold;
  font-size: 20px;
}

.answer {
  font-weight: bold;
  font-style: italic;
  color: #cf0039;
}