//== Footer
//
//##

$foot-height:                 50px;
$foot-default-bg:             $navbar-default-bg;
$foot-default-color:          $navbar-default-color;

// inverse
$foot-inverse-bg:             #081F2C;
$foot-inverse-color:          $navbar-inverse-color;

//== Navbar
//
//##
$navbar-padding-top:          60px;

// Navbar logo
$nav-logo-height:             50px;