/* Webfont: AntwerpenTall-Tall */
@font-face {
  font-family: 'AntwerpenTallTall';
  src: url('../fonts/antwerpen/tall/AntwerpenTall-Tall.eot'); /* IE9 Compat Modes */
  src: url('../fonts/antwerpen/tall/AntwerpenTall-Tall.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/antwerpen/tall/AntwerpenTall-Tall.woff') format('woff'), /* Modern Browsers */
  url('../fonts/antwerpen/tall/AntwerpenTall-Tall.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/antwerpen/tall/AntwerpenTall-Tall.svg#AntwerpenTall-Tall') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: AntwerpenSmallCaps-Regular */
@font-face {
  font-family: 'AntwerpenSmallCaps';
  src: url('../fonts/antwerpen/smallcaps/AntwerpenSmallCaps-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/antwerpen/smallcaps/AntwerpenSmallCaps-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/antwerpen/smallcaps/AntwerpenSmallCaps-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/antwerpen/smallcaps/AntwerpenSmallCaps-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/antwerpen/smallcaps/AntwerpenSmallCaps-Regular.svg#AntwerpenSmallCaps-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Antwerpen-Regular */
@font-face {
  font-family: 'Antwerpen';
  src: url('../fonts/antwerpen/regular/Antwerpen-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/antwerpen/regular/Antwerpen-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/antwerpen/regular/Antwerpen-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/antwerpen/regular/Antwerpen-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/antwerpen/regular/Antwerpen-Regular.svg#Antwerpen-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Sun Antwerpen 500 */
@font-face {
  font-family: SunAntwerpen500;
  src: url('../fonts/antwerpen/sun/500/SunAntwerpen_500.eot');
  src: url('../fonts/antwerpen/sun/500/SunAntwerpen_500.woff') format('woff'),
  url("../fonts/antwerpen/sun/500/SunAntwerpen_500.svg#SunAntwerpen_500") format("svg");
}