
footer {
  background-color: $foot-default-bg;
  color: $foot-default-color;
  margin-top: 20px;
  &.inverse {
    background-color: $foot-inverse-bg;
    color: $foot-inverse-color;
  }
  .pull-right {
    margin-right: -15px;
    line-height: $foot-height;
  }
}
@media (max-width: $screen-md) {
  footer{
    span.break, .pull-right{
      padding-right: 10px;
    }
  }
}

@media (max-width: $container-sm) {
  footer {
    span.break, .pull-right {
      display: block;
      padding-top: 5px;;
      float: left !important;
    }
    .foot-logo{
      float: left;
      padding-right: 5px;
    }
    .pull-right{
      line-height: $line-height-base;
      padding-left: 5px;
    }
  }
}

.foot-logo {
  height: $foot-height;
  margin-left: -15px;
  padding-right: 2px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $foot-height+20;
  position: static;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: $foot-height;
}