
footer {
  background-color: $foot-default-bg;
  color: $foot-default-color;
  margin-top: 20px;
  &.inverse {
    background-color: $foot-inverse-bg;
    color: $foot-inverse-color;
  }
  .pull-right {
    //margin-right: -15px;
    line-height: $foot-height;
  }
}

.foot-logo {
  height: $foot-height;
  //margin-left: -15px;
  padding-right: 2px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $foot-height+20;
  position: static;
  height: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $foot-height;
}