body {
  padding-top: $navbar-padding-top;
}

body#blank {
  padding-top: 0;
}

@media (max-width: $screen-xs-max) {
  body {
    padding-top: $nav-logo-height+10;
  }
}

.nav-logo {
  height: $nav-logo-height;
}

.navbar-brand {
  padding: 1px 10px 0 0;
}