.projectMilestones {
  //border: solid 1px black;
}

.projectImage, .projectText {
  height: 175px;
  overflow: hidden;
}

.projectVragen {
  border-top: solid 1px $gray-lighter;
  border-bottom: solid 1px $gray-lighter;
}

.likeDislike {
	margin-top: 20px;
}

.justify {
	text-justify: inter-word;
}

.projectTitle{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}