.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-container {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.slide {
  position: relative;
  float: left;
}

.next {
  float: right;
  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

// vragen

.projectVragen .progress{
  margin-bottom: 10px;
}

